<header class="site-header">
  <div class="header-inner">

    <a href="#home" class="logo">
      <div class="logo-text">
        <p>
          Helden<span>Cuts</span>
        </p>
      </div>
    </a>

    <a href="#work" class="nav-link">Work-Showoff</a>
    <a href="#about" class="nav-link">Profile</a>
    <a href="#ratings" class="nav-link">Client-Ratings</a>
    <a href="#process" class="nav-link">Process</a>
    <a href="#contact" class="nav-link">Contact</a>
    <a href="#faq" class="nav-link">FAQ</a>

  </div>
</header>
